.benefits-card {
  padding: 20px 16px 140px 16px;
  .text-desc {
    position: relative;
    z-index: 1;
  }
  .benefit-img {
    position: absolute;
    width: 80%;
    height: 150px;
    bottom: -20px;
    right: -40px;
    img {
      opacity: 0.7;
    }
  }
}