:root {
  --primary-color: #ffb928;
  --secondary-color: #4C2073;

  --size-xxs: 8px;
  --size-xs: 10px;
  --size-sm: 12px;
  --size-md: 14px;
  --size-lg: 16px;
  --size-xlg: 18px;
  --size-xxlg: 20px;
  --size-xxxlg: 24px;
}